{% load static %}

<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{% static 'bmo_controller/css/bootstrap.min.css' %}" />
        <!--<link rel="stylesheet" href="{% static 'bmo_controller/css/bootstrap-responsive.min.css' %}" />-->
        <link rel="stylesheet" href="{% static 'bmo_controller/css/base.css' %}" />

        <script type="text/javascript" src="{% static 'bmo_controller/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bmo_controller/js/base.js' %}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'bmo_command_list' %}">command list</a></li>
                <li><a href="{% url 'bmo_command_urls' %}">command urls</a></li>
                <li><a href="{% url 'bmo_scan_events' %}">scan events</a></li>
                <li><a href="{% url 'bmo_command_create' %}">new command</a></li>
            </ul>

            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>
