{% extends 'bmo_controller/base.html' %}

{% block head %}
{{ block.super }}

<script type="text/javascript">
$(function() {
    $('#event-list a').each(function(idx, link) { $(link).text('http://' + location.host + link.text) });
});
</script>

{% endblock %}

{% block content %}
<table class="table table-striped events-table" id="event-list">
    {% for command in command_list %}
    <tr>
        <td width="20%">{{ command.label }}</td>
        <td><a href="{{ command.get_absolute_url }}" class="ajax-link">{{ command.get_absolute_url }}</a></td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
