{% extends 'bmo_controller/base.html' %}

{% block content %}
<div class="command_form">
    <form method="POST" action="">
        <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        </fieldset>

        <fieldset>
            <legend>Listeners (optional)</legend>

            <ol>
            {{ listener_formset.management_form }}
            {% for listner_form in listener_formset.forms %}
                <li>{{ listner_form.as_p }}</li>
            {% endfor %}
            </ol>
        </fieldset>

        <br />
        <input type="submit" value="save">
    </form>
</div>
{% endblock %}
