{% extends 'bmo_controller/base.html' %}

{% block content %}
<ul class="thumbnails">
    {% for command in command_list %}
    <li class="span2 text-center">
    <div class="thumbnail">
        <a href="{% url 'bmo_command_execute' slug=command.slug %}" class="ajax-link img-polaroid command-btn">{{ command.label }}</a>
        <a href="{% url 'bmo_command_update' slug=command.slug %}" class="btn btn-small">edit</a>
        <a href="{% url 'bmo_command_delete' slug=command.slug %}" class="btn btn-small post-link">remove</a>
    </div>
    </li>
    {% endfor %}
</ul>

<br />
<a href="#" class="btn btn-small" data-rand-cmd-colors="true">rand colors</a>

{% endblock %}
