{% extends 'bmo_controller/base.html' %}

{% block content %}
<ul class="thumbnails">
    <li class="span2 text-center command" id="command-new">
        <div class="thumbnail">
            <a href="{% url 'bmo_command_create' %}" class="img-polaroid command-btn lead" style="background-color:#08c">+</a>
            <a href="{% url 'bmo_command_create' %}" class="btn btn-small btn-link">new command</a>
        </div>
    </li>

    {% for command in command_list %}
    <li class="span2 text-center command" id="command-{{ command.slug }}">
        <div class="thumbnail">
            <a href="{% url 'bmo_command_execute' slug=command.slug %}" class="ajax-link img-polaroid command-btn random-bg">{{ command.label }}</a>
            <a href="{% url 'bmo_command_update' slug=command.slug %}" class="btn btn-small">edit</a>
            <a href="{% url 'bmo_command_delete' slug=command.slug %}" class="btn btn-small">remove</a>
        </div>
    </li>
    {% endfor %}
</ul>

<br />
<a href="#" class="btn btn-small" data-rand-cmd-colors="true">rand colors</a>

{% endblock %}
